<link rel="stylesheet" href="./css/members.css" />
<div id="members">
  <h2 id="members-header">Members</h2>
  <div class="alert alert-primary member-alert-advisor" role="alert">
    Club Advisor: Dr. Libra Lane
  </div>
  <div class="alert alert-primary member-alert-founder" role="alert">
    Club Founder: Alexander Khazzam
  </div>
  <div class="accordion" id="accordionExample">
      <% for (let i = 0; i < years.length; i++) { %>
          <div class="card">
            <div class="card-header" id="heading<%= i %>">
              <h2 class="mb-0">
                <button class="btn btn-link open-members-btn" type="button" data-toggle="collapse" data-target="#collapse<%= i %>" aria-expanded="false" aria-controls="collapse<%= i %>">
                  <%= years[i].year %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= `[ ${years[i].members.length + years[i].officers.length } ]`%> 
                </button>
              </h2>
            </div>
            <div id="collapse<%= i %>" class="collapse" aria-labelledby="heading<%= i %>" data-parent="#accordionExample">
              <div class="card-body">
                  <div>
                      <h5>Officers</h5>
                      <% for (let k = 0; k < years[i].officers.length; k++) { %>
                          <p class="officer"><span class="officer-title"><%= years[i].officers[k].split(":")[0] %></span><%= years[i].officers[k].split(':')[1] %></p>
                      <% } %>
                  </div>
                  <div>
                      <h5>Members</h5>
                      <% for (let k = 0; k < years[i].members.length; k++) { %>
                          <p class="member"><span class="member-number"><%= `${k + 1}.` %>&nbsp;</span><%= years[i].members[k] %></p>
                      <% } %>
                  </div>
              </div>
            </div>
          </div>
      <% } %>
  </div>
</div>
